<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<body>

<div layout:fragment="content">
    <table id="datetime">
        <tr>
            <td id="time"></td>
            <td id="date"></td>
        </tr>
    </table>

    <div id="weather" th:fragment="weather">
        <svg version="1.1" width="500px" height="300px" id="temperature-svg" th:utext="${temperatureSvg}"></svg>
        <svg version="1.1" width="500px" height="300px" id="humidity-svg" th:utext="${humiditySvg}"></svg>
    </div>

    <!--/*@thymesVar id="calendarEntries" type="java.util.List<at.rseiler.homeauto.display.model.CalendarEntry>"*/-->
    <table id="calendar" th:fragment="calendar">
        <tr th:each="calendarEntry : ${calendarEntries}">
            <td th:text="${calendarEntry.displayTime}"></td>
            <td th:text="${calendarEntry.title}"></td>
            <td class="organiser" th:text="${calendarEntry.organiserShort}"></td>
        </tr>
        <tr th:if="${calendarEntries.isEmpty()}">
            <td style="text-align: center">No calendar entries.</td>
        </tr>
    </table>
</div>

</body>
</html>

